*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //defines 1 rem
    font-size: 62.5%;

    @media (max-width: 26.25em) {
        font-size: 45%;
        .main{
            overflow-x: hidden;
        }
        .MuiGrid-spacing-xs-40-75{
            margin: -1rem;
        }
        .Album-heroContent-4{
            padding: 4rem 0rem;
        }
        .Album-heroButtons-5{
            margin-top: 3rem;
        }
    }
}

body {
    font-family: "Roboto" , sans-serif;
}
