.Album-cardGrid-8{
    padding: 1rem 0 !important;
}
.MuiDialog-paper-180{
    padding: 1rem;
}
.pagination {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        font-size: 1.4rem;
    }
}   
